<!DOCTYPE html>
<html class='no-js multi-view' data-templateName='era-material' data-templateVersion='1.1' dir='ltr' lang='en' prefix='og: http://ogp.me/ns#'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="BbaaM88Az_X9Kkutg_1d0lgK5u9URFdntKd8lB41hLs">
    <link rel="icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    {% seo %}

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
</head>

<body>
<div class='dismissible' id='app'>
<a class='skip' href='#main' tabindex='0' title='Skip to main content'>
          Skip to main content
        </a>
<noscript id='notif'>
<div class='notif-warning'><strong>WARNING!</strong> We detect you need <a href='https://www.enable-javascript.com' rel='nofollow' target='_blank' title='Enable JavaScript!'>enable JavaScript</a> to run this blog!</div>
</noscript>
<!--[if lt IE 9]> <div id='notif'> <div class='notif-warning'>We detect you are using an <strong>outdated</strong> browser. Please <strong>upgrade</strong> your browser to improve your experience.</div> </div> <![endif]-->
<div id='loading'>
<div id='loading-bar'></div>
</div>
<div class='indicator'>
<div class='indicator-bar'></div>
</div>
<div class='has-toolbar' id='toolbar' role='toolbar'>
<div class='toolbar-wrap'>
<div class='toolbar-row-group'>
<div class='toolbar-row'>
<div class='toolbar-content toolbar-left'>
<div class='toolbar-fixed'>
<button aria-expanded='false' aria-label='Navigation' class='toolbar-action reset js-drawer js-tooltip' title='Navigation'>
<svg aria-hidden='true' class='toolbar-icon' focusable='false' viewBox='0 0 24 24'>
<path d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16'></path>
</svg>
</button>
<div class='toolbar-top'>
<div class='toolbar-blog-title notranslate' role='banner'>
<a href='https://articleforge.blogspot.com/' title='Article Forge'>
<h1>
Article Forge
</h1>
</a>
</div>

</div>
<div class='toolbar-title notranslate'>
<a class='toolbar-title-blog' href='https://articleforge.blogspot.com/' title='Article Forge'>
Article Forge
</a>
<svg aria-hidden='true' class='toolbar-arrow' viewBox='0 0 24 24'>
<path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'></path>
</svg>
<span class='toolbar-title-page'>
Article
</span>
<svg aria-hidden='true' class='toolbar-arrow' viewBox='0 0 24 24'>
<path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'></path>
</svg>
<span class='toolbar-title-view'>
test post
</span>
</div>
</div>
</div>
<div class='toolbar-content toolbar-right'>
<div class='toolbar-fixed'>
<button aria-expanded='false' aria-label='Search' class='toolbar-action reset js-search js-tooltip' title='Search'>
<svg aria-hidden='true' class='toolbar-icon' focusable='false' viewBox='0 0 24 24'>
<path d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z'>
</path>
</svg>
</button>
<div aria-hidden='true' id='toolbar-search' role='search'>
<form action='/search' target='_top'>
<button aria-label='Search' class='ts-search reset js-tooltip' title='Search' type='submit'>
<svg aria-hidden='true' focusable='false' viewBox='0 0 24 24'>
<path d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z'>
</path>
</svg>
</button>
<input aria-label='Search this blog' autocomplete='off' id='ts-input' name='q' placeholder='Search this blog' type='text' value=''/>
<button aria-label='Close' class='ts-close reset js-tooltip' title='Close' type='button'>
<svg aria-hidden='true' focusable='false' viewBox='0 0 24 24'>
<path d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z'>
</path>
</svg>
</button>
</form>
</div>
<div class='toolbar-desktop'>
<a aria-label='Buy this template' class='toolbar-action reset js-tooltip' href='https://bit.ly/EraMaterial' target='_blank' title='Buy this template'>
<svg aria-hidden='true' class='toolbar-icon' focusable='false' viewBox='0 0 24 24'>
<path d='M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z'>
</path>
</svg>
</a>
</div>
<button aria-label='Notification' class='toolbar-action reset is-notif js-tooltip js-dialog-open' data-open-dialog='notification' title='Notification'>
<svg aria-hidden='true' class='toolbar-icon' focusable='false' viewBox='0 0 24 24'>
<path d='M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21'>
</path>
</svg>
</button>
<button aria-expanded='false' aria-label='Utilities' class='toolbar-action reset js-tooltip js-dropdown-toggle' data-toggle-dropdown='dropdown-menu' title='Utilities'>
<svg aria-hidden='true' class='toolbar-icon' focusable='false' viewBox='0 0 24 24'>
<path d='M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z'>
</path>
</svg>
</button>
</div>
<div class='dropdown' id='dropdown-menu'>
<div class='section' id='Dropdown'><div class='widget HTML' data-version='1' id='HTML5'>
<h2 class='title'>Social Media</h2>
<div class='dropdown-content'>
<ul>
  <li class="js-ripple"><a href="#" title="One" tabindex="-1"><span>One</span></a></li>
  <li class="js-ripple"><a href="#" title="Two" tabindex="-1"><span>Two</span></a></li>
  <li class="js-ripple"><a href="#" title="Three" tabindex="-1"><span>Three</span></a></li>
  <li class="divider js-ripple"></li>
  <li class="js-ripple">
    <button tabindex="-1">
      <svg viewbox="0 0 24 24" aria-hidden="true">
          <path d="M12,17.56L16.07,16.43L16.62,10.33H9.38L9.2,8.3H16.8L17,6.31H7L7.56,12.32H14.45L14.22,14.9L12,15.5L9.78,14.9L9.64,13.24H7.64L7.93,16.43L12,17.56M4.07,3H19.93L18.5,19.2L12,21L5.5,19.2L4.07,3Z"></path>
      </svg>
      <span>HTML5 icon svg</span>
    </button>
  </li>
  <li class="js-ripple">
    <button tabindex="-1"><i class="mdi mdi-language-javascript" aria-hidden="true"></i><span>JavaScript mdi icon</span></button>
  </li>
</ul>
<div class="divider"></div>
<div class="dropdown-subheader">
Settings
</div>
<div class="dropdown-menu">
<button class="dropdown-action reset js-ripple" data-fullscreen="">
<svg aria-hidden="true" class="dropdown-action-icon" focusable="false" viewbox="0 0 24 24"><path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"></path></svg>
<span>Fullscreen</span>
</button>
<button class="dropdown-action reset js-ripple" data-night-mode="">
<svg aria-hidden="true" class="dropdown-action-icon" focusable="false" viewbox="0 0 24 24"><path class="is-light" d="M12,2A7,7 0 0,1 19,9C19,11.38 17.81,13.47 16,14.74V17A1,1 0 0,1 15,18H9A1,1 0 0,1 8,17V14.74C6.19,13.47 5,11.38 5,9A7,7 0 0,1 12,2M9,21V20H15V21A1,1 0 0,1 14,22H10A1,1 0 0,1 9,21M12,4A5,5 0 0,0 7,9C7,11.05 8.23,12.81 10,13.58V16H14V13.58C15.77,12.81 17,11.05 17,9A5,5 0 0,0 12,4Z"></path><path class="is-night hidden" d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z"></path></svg>
<span>Night Mode</span>
</button>
<button class="dropdown-action reset js-ripple" data-rtl-mode="">
<svg aria-hidden="true" class="dropdown-action-icon" focusable="false" viewbox="0 0 24 24"><path class="is-ltr" d="M8,17V14L4,18L8,22V19H20V17M10,10V15H12V4H14V15H16V4H18V2H10A4,4 0 0,0 6,6A4,4 0 0,0 10,10Z"></path><path class="is-rtl hidden" d="M21,18L17,14V17H5V19H17V22M9,10V15H11V4H13V15H15V4H17V2H9A4,4 0 0,0 5,6A4,4 0 0,0 9,10Z"></path></svg>
<span>Right to Left/Left to Right</span>
</button>
</div>
</div>
<div class='clear'></div>
<span class='widget-item-control'>
<span class='item-control blog-admin'>
<a class='quickedit' href='//www.blogger.com/rearrange?blogID=8412878318495326521&widgetType=HTML&widgetId=HTML5&action=editWidget&sectionId=Dropdown' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML5"));' rel='nofollow' target='configHTML5' title='Edit'>
<img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
</a>
</span>
</span>
<div class='clear'></div>
</div></div>
</div>
</div>
</div>
</div>
</div>
</div>

  <div class="divider"></div>
    
<div class='adw'>
<div class='atb section' id='Ads-Top'><div class='widget HTML' data-version='1' id='HTML7'>
<a href='https://themeplatinum.blogspot.com/' target='_blank' title='Pinky UI'>
<img alt='Iklan Pinky UI' src='https://4.bp.blogspot.com/-tcd7F7tPTw0/XAacyoFtwrI/AAAAAAAAAKY/RH5exl3e2DwJs7UbqBncDXKe5LyRiO15gCLcBGAs/s1600/iklan_728x90_min.png' style='display:block!important;border:1px solid rgba(0,0,0,.12);border-radius:6px;'/>
</a>
</div>
    <div class="divider"></div>


    <div class="container">
        <section id="main_content">
            <form class="wrap" name="bvDecode">
                <textarea id="input" class="content" rows="7" placeholder="Paste code here..."></textarea>
                <textarea id="output"></textarea>

                <div class="config center">
                    <input id="none" class="magic-radio" type="radio" value="" name="encode" checked>
                    <label for="none">None</label>
                    {% for opt in site.data.options %}
                        <input id="{{ opt.key }}" class="magic-radio" type="radio" value="{{ opt.key }}" name="encode">
                        <label for="{{ opt.key }}">{{ opt.name }}</label>
                    {% endfor %}
                    <input id="nicify" class="magic-radio" type="radio" value="nicify" name="encode" disabled>
                    <label for="nicify">Unreadable</label>
                </div>

                <div class="config center">
                    <input id="beautify" class="magic-checkbox" type="checkbox" name="beautify" checked>
                    <label for="beautify">Beautify</label>
                    <input id="auto" class="magic-checkbox" type="checkbox" name="auto">
                    <label for="auto">Auto</label>
                </div>

                <div class="center">
                    <button id="redecode" class="btn" type="button">
                        Continue decoding
                    </button>
                    <button id="clear" class="btn" type="reset">
                        Clear
                    </button>
                </div>

                <div class="view-wrap">
                    <div class="view-control">
                        <button id="copyjs" class="btn" type="button">
                            <img class="btn-icon" src="{{ 'assets/icon/copy-document.png' | relative_url }}" alt="Copy to clipboard">
                        </button>
                        <a id="preview" class="btn" type="button" href="#" target="_blank">
                            <img class="btn-icon" src="{{ 'assets/icon/external-link-symbol.png' | relative_url }}" alt="Open in new tab">
                        </a>
                    </div>
                    <pre id="view" class="hljs">Please choose a right encoding type!</pre>
                </div>
            </form>
        </section>
    </div>

    <script type="text/javascript" src="{{ '/assets/js/lib/clipboard-js/clipboard.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}" type="text/javascript"></script>
     <script src="{{ '/main.js' | relative_url }}" type="text/javascript"></script>
<footer class='footer'>


<div id='footer-copyright'>
<span class='footer-text'>&copy; <span id='copyright-years'><script>new Date().getYear();</script></span></span>

  </div>
</footer>
    
</body>

</html>
